version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: flood_postgres
    restart: always
    environment:
      POSTGRES_USER: flood
      POSTGRES_PASSWORD: floodpass
      POSTGRES_DB: flooddb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: flood_ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  postgres_data:
  ollama_data:
